.linko {
  display: flex;
  /* width: 90%; */
  min-height: 40px;
  border-radius: 10px;
  align-items: center;
  text-decoration: none;
  /* color: #6d46e1; */
  margin:4px 9px 4px 10px;
  /* margin-right:3px; */
  /* padding-left: 15px; */

  
}
.linko:hover {
background-color: rgb(245, 245, 245);
}

