.linko {
  /* display: flex; */
  /* width: 96%; */
  /* min-height: 50px; */
  border-radius: 10px;
  align-items: center;
  /* text-decoration: none; */
  color: #d53c1d;
  /* margin: 3px ; */
  margin-right:3px;
  /* padding-left: 15px; */

  
}
.linko:hover {
background-color: rgb(245, 245, 245);
}